/* =========================
   TABLET
========================= */


@media(max-width:1100px){


.container{

    width:92%;

}



.nav-links{

    gap:20px;

}



.hero-content h1{

    font-size:55px;

}



.hero-container{

    gap:30px;

}



.image-circle{

    width:330px;

    height:330px;

}



.skills-grid{

    grid-template-columns:repeat(3,1fr);

}



.services-grid{

    grid-template-columns:repeat(2,1fr);

}



.projects-grid{

    grid-template-columns:1fr;

}



.certificate-grid{

    grid-template-columns:repeat(2,1fr);

}



}








/* =========================
   MOBILE
========================= */


@media(max-width:768px){



.section{

    padding:70px 0;

}






.navbar{

    height:70px;

}



.nav-links{

    display:none;

    position:absolute;

    top:70px;

    left:0;

    width:100%;

    background:#08111f;

    flex-direction:column;

    text-align:center;

    padding:30px 0;

}



.nav-links.active{

    display:flex;

}



.menu-btn{

    display:block;

}







.hero{

    padding-top:100px;

}





.hero-container{

    flex-direction:column-reverse;

    text-align:center;

}



.hero-content h1{

    font-size:42px;

}



.hero-content h3{

    font-size:22px;

}



.typing{

    font-size:25px;

}





.hero-content p{

    margin:auto;

    margin-top:20px;

}



.hero-buttons{

    justify-content:center;

    flex-wrap:wrap;

}



.hero-social{

    justify-content:center;

}



.image-circle{

    width:260px;

    height:260px;

}







.about-container{

    flex-direction:column;

    text-align:center;

}



.about-image img{

    width:280px;

    height:280px;

    margin:auto;

}



.about-info{

    grid-template-columns:1fr;

}



.services-grid,

.skills-grid,

.projects-grid,

.certificate-grid{

    grid-template-columns:1fr;

}





.service-card,

.skill-card,

.project-card{

    padding:25px;

}





.project-card h3{

    font-size:24px;

}



.project-buttons{

    flex-direction:column;

}



.project-buttons .btn{

    width:100%;

}







.contact-container{

    grid-template-columns:1fr;

}



.contact-form{

    padding:25px;

}





.timeline-container{

    padding-left:20px;

}



.footer h2{

    font-size:35px;

}



#scroll-top{

    right:20px;

    bottom:20px;

}



}







/* =========================
   SMALL PHONES
========================= */


@media(max-width:450px){



.hero-content h1{

    font-size:35px;

}



.section-title{

    font-size:30px;

}



.image-circle{

    width:220px;

    height:220px;

}



.btn{

    padding:12px 25px;

}



}

@media(max-width:900px){

.nav-links.active{

    display:flex !important;

}

.menu-btn{

    display:block !important;
    cursor:pointer;
    z-index:9999;

}

}
